.footer{
    display: none;
    align-items: center;
    height: 40px;
    background: #F8F8F8;
    justify-content: space-between;
    padding: 0 80px;
    font-size: 14px;
    font-weight: 700;
    @include mobile {
        display: flex;
    }
}