.form{
    width: 320px;
    margin: 52px auto 0;
    @include mobile{
        width: 90%;
    }
    &__title{
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;
        span{
            color: #428A60;
        }
    }
    &__input{
        width: 100%;
        height: 50px;
        background: #F8F8F8;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: 14px;
        padding-left: 20px;
        @include mobile{
            padding-left: 10px;
        }
    }
    &__line{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block{
        flex: 1;
    }
    &__select{
        width: 116px;
        height: 50px;
        background: #F8F8F8;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        margin-left: 10px;
        padding: 0 15px;
        font-weight: 600;
        appearance: none;
    }  
    &__select-wrapper{
        position: relative;
        &::before{
            content: url("../img/arrow-down.png");
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            padding-bottom: 2px;
            z-index: 1;
        }
        &::after{
            content: url("../img//flag.jpg");
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            padding-bottom: 2px;
        }
    }
    &__option{
        background: url(../img/flag.jpg) 0 0 no-repeat;
        &::after{
            content: url("../img/flag.jpg");
            position: absolute;
        }
    }
    &__btn{
        width: 100%;
        padding: 12px 0;
        background: #428A60;
        border-radius: 5px;
        color: #fff;
        margin: 20px 0 30px;
        position: relative;
        &::after{
            content: url("../img/arrow.svg");
            position: absolute;
            top: 55%;
            transform: translateY(-55%);
            right: 98px;
            @include mobile {
                right: 82px;
            }
        }
    }
}